body{
    overflow-x: hidden;
}
.navbar-light .navbar-brand{
    width: 80px;
}
.navbar-light{
    height: 100px;
}
.navbar-collapse{
    margin-left: 15%;
}
.navbar{
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
}
/** sobre la NAV, lo de redes sociales **/
.share-icons{
    font-size: 30px;
    border-bottom: 1px solid black;
}
.icons-text{
    font-size: 20px;
    padding-right: 20px;
    font-family: 'Grape Nuts', cursive;
}

.btn-video{
    background-color: #553928ad;
    border: 1px solid #553928;
    color: white;
}
.cabecera{
    background-image: url(./img/img_productos/pizza1.jpg);
    background-size: cover;}
.row-cabecera{
    height: 300px;
}
footer{
    height: 100px;
    background-color: #553928;
    color: white;
}
.btn-cabecera{
    width: 110px;
    height: 50px;
}
.info-small{
    background-color: #3e2214;
    box-shadow: 0px 6px 20px black;
}
.img-info{
    animation: pick 4s ease-in-out infinite;
    position:relative;
    box-shadow: 6px 6px 20px black;
}
@keyframes pick{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
/** Cabecera video**/

.content{
    margin: auto;
    text-align: center;
}
.header-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.header-video video{
    min-width: 100vw;
    height: 40vh;

}
.header-overlay{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000007d;
}
.overflow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.600);
    z-index: 1;
}
.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.v-pizza{
    position: relative;
    z-index: 0;
}
.v-video-top{
    position: relative;
}
.v-text{
    font-size: 3em;
    position: absolute;
    z-index: 2;
    color: white;
}
.title-video{
    font-family: 'Grape Nuts', cursive;
    font-size: 7em;
}
.subtitle-video{
    font-family: 'Grape Nuts', cursive;
    font-size: 2em;
}

/** Estilos añadidos del video de la prueba **/
.contenedor{
    color: white;
    flex-flow: column wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
    background-color: black;
    overflow:hidden;
    position: relative;
}
video{
    position: absolute;
    width: 100vw;
    height: 164%;
    top:-140px;
    z-index: 1;
    min-height: 500px;
    min-width: 309%;
}
.texto-video{
    z-index: 2;
}